# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook with markdown and code cells
* List examples of languages, libraries and tools used in Data Science
* Share your Jupyter Notebook publicly on GitHub
* Evaluate notebooks submitted by your peers using the provided rubric
* Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL
* Scala

Some of the commonly used libraries used by Data Scientists include:
- ggplot
- ggplot2
- GGally
- datasets

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Ahmed Awadallah